# macOS
.DS_Store

# python
__pycache__/
*.pyc

# virtualenv
venv/

# node
node_modules/

# build
dist/

# typescript
*.tsbuildinfo

# env
.env__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/
node_modules/
frontend/node_modules/
frontend/dist/
.DS_Store
